@import url('https://fonts.googleapis.com/css2?family=Krona+One&Montserrat&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;

    --font-primaria: "Krona One", sans-serif;
    --font-secundaria: "Montserrat", sans-serif;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-terciaria);
}

.cabecalho__menu__link:hover{
    color: var(--cor-secundaria);
}

a{
    color: var(--cor-terciaria);
}

.apresentacao{
    padding: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.apresentacao__conteudo__titulo{
    font-family: var(--font-primaria);
    padding-bottom: 5px;
    font-size: 2.25rem; 
}

.apresentacao__conteudo__titulo__curriculo{
    font-family: var(--font-primaria);
    padding-bottom: 6px;
    font-size: 2.25rem; 
}

.apresentacao__conteudo__subtitulo {
    font-family: var(--font-primaria);
    font-size: 1.5rem;
    padding: 5% 0% 3%;

}

.apresentacao__conteudo__lista {
    font-family: var(--font-secundaria);
    font-size: 1.18rem;
    font-weight: 400;
}

.apresentacao__conteudo__texto__curriculo {
    font-family: var(--font-secundaria);
    font-size: 1.18rem;
    font-weight: 400;
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    padding-bottom: 15px;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links_subtitulo {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    color: var(--cor-secundaria);
    border-radius: 8px;
    border: var(--cor-terciaria) solid 2px;
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    padding: 16px 0;
    text-decoration: none;
    font-weight: 600;
}

.apresentacao__links__link:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
    border: var(--cor-terciaria) solid 2px;
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 20px;
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}